<!DOCTYPE html>
<html>
<head>
	<title>CMG 2012</title> 
	<link rel="stylesheet" href="/styles.css">
</head>

<h2>Siebel Server Management 2012</h2></br>

<body>

	<form action="/" method="post">
		<label>Login ID<label></br>
		<input type="text" name="loginid" placeholder="loginid" required autocomplete="off"></br>
		</br>
		<label>Password<label></br>
		<input type="password" name="password" placeholder="password" required></br>
		</br>
		<button>Login</button>
	</form>

</body>
</html>